:root {
  --green: #65e298;
  --orange: #e29865;
  --blue: #6598e2;
  --yellow: #e2d565;
}

body {
  background: #3a3a3a;
  color: #f2f2f2;
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  /* overflow-y scroll here forces scrollbar to display
  which avoids jutter on page transitions */
  overflow-y: scroll;
}

.hrule {
  margin-bottom: 1rem;
}

/* Custom scrollbar */
.main::-webkit-scrollbar {
  background-color: rgba(0,0,0,0.6);
  width: 14px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 14px;
}

.nextPageButton {
  position: absolute;
  padding: 0.75rem;
  margin: 0 auto;
  bottom: 100px;
  left: 50%;
  background: rgba(0,0,0,0.7);
  transform: translateX(-40%);
  border-radius: 100%;
  opacity: 0.6;
  transition: opacity 300ms linear;
}

.nextPageButton:hover {
  opacity: 0.9;
}

/* Page styling */
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 1rem;
}

.page::after {
  content: '';
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

/* Home Page */
.landing {
  background: url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
}

.landingColor {
  color: var(--orange);
}

.landingContent {
  padding-left: 12rem;
  
}

@media only screen and (max-width: 800px) {
  .landingContent {
    padding-left: 0;
    text-align: center;
  }
}

/* About Page */
.about {
  align-items: center;
  background: linear-gradient(-60deg, #0f0f0f, #6598e26e);
  /* background: url(./images/aboutbg.jpg);
  background-size: cover;
  background-position: center; */
}

.aboutLink {
  color: var(--blue);
  opacity: 0.8;
}

.aboutLink:hover {
  opacity: 1;
}

.aboutContents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.aboutMe {
  flex-basis: 100%;
  margin-bottom: 3rem;
  transition: opacity 500ms ease-in;
}

.techsContainer {
  margin-bottom: 3rem;
  flex-basis: 100%;
  transition: opacity 1000ms ease-in;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.techsImage {
  margin: 0 1.5rem 1.5rem 0;
  height: 48px;
}

@media only screen and (min-width: 800px) {
  .aboutContents {
    flex-direction: row;
  }

  .aboutMe {
    flex-basis: 38%;
    transform: translateY(-80px);
  }

  .techsContainer {
    flex-basis: 38%;
    transform: translateY(80px);
  }

  .techsImage {
    margin: 0 3rem 3rem 0;
  }
}

/* Portfolio Page */
.portfolio {
  background: linear-gradient(-60deg, #0f0f0f, #65e2976e);
}

.portfolio h1 {
  margin: 0 auto 2rem auto;
}

.projectsGrid {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1200px){
  .projectsGrid {
    width: 85%;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 769px) {
  .projectsGrid {
    width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  .projectsGrid {
    width: 100%;
  }

  .portfolio {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Project component */
.project {
  display: flex;
  position: relative;
  margin-bottom: 5rem;
}

.projectImageContainer {
  flex-basis: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.projectContent {
  position: relative;
  flex-basis: 40%;
  display: flex;
  align-items: center;
  transform: translateX(-5rem);
  /* border: 1px solid lawngreen; */
}

.projectButtons {
 display: flex;
 justify-content: space-evenly;
 margin-top: 2rem;
}

@media only screen and (max-width: 1200px){
  .projectContent {
    flex-basis: 60%;
  }
}

@media only screen and (max-width: 1080px){
  .project {
    flex-direction: column;
  }

  .projectContent {
    margin: 0 auto;
    width: 90%;
    max-width: 40rem;
    transform: translate(0, -5rem);
  }
}

/* Contact Page */
.contact {
  background: linear-gradient(-60deg, #0f0f0f, #e2d5656e);
}

.contactContent {
  margin: 0 auto;
  text-align: center;
}

.contactEmail {
  color: var(--yellow);
  opacity: 0.8;
}

.contactEmail:hover {
  opacity: 1;
}

/* Button component */
.button {
  padding: 0.5rem 0;
  position: relative;
  width: 8rem;
  text-decoration: none;
  background: rgba(0,0,0,0.6);
  color: var(--green);
  border: 2px solid var(--green);
  box-shadow: 0px 0px 15px 1px var(--green);
  opacity: 0.7;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: opacity 250ms linear;
}

.buttonText {
  position: relative;
  margin: 0;
  flex-basis: 6rem;
  transform: translateX(1rem);
  transition: transform 250ms ease-in-out;
}

.buttonIcon {
  position: relative;
  flex-basis: 2rem;
  padding: 0.25rem;
  transform: translateX(2rem);
  transition: transform 200ms ease-in-out;
}

.button:hover {
  opacity: 0.85;
}

.button:hover .buttonText {
  transform: translateX(0rem);
}

.button:hover .buttonIcon {
  transform: translateX(0rem);
}

/* Nav styling */
.navButton {
  cursor: pointer;
  position: fixed;
  width: 70px;
  height: 70px;
  top: 2rem;
  right: 2rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
  transition: opacity 200ms linear;

  padding: 15px;
  background: rgba(0,0,0,0.7);
  border-radius: 100%;
}

.navButton:hover {
  opacity: 1;
}

.navButtonDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}

.navLink {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #f2f2f2;
  margin: 1rem 0;
  opacity: 0.9;
}

/*
  Setting class using the returned color from App.js 
  to Nav.js. This is a bit messy, should change it at
  some point.
*/
.nlHovere29865:hover {
  color: var(--orange);
}

.nlHover6598e2:hover {
  color: var(--blue);
}

.nlHover65e298:hover {
  color: var(--green);
}

.nlHovere2d565:hover {
  color: var(--yellow);
}


/* Footer Styling */
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 90;
  background: #3a3a3a;
}

.footerBar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

.footerContent {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  /* border: 1px solid gold; */
}

.footerLink {
  margin: 0 1.5rem;
  opacity: 0.7;
  transition: opacity 300ms linear;
}

.footerLink:hover {
  opacity: 1;
}